<%- model_class = Attendance -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= form_tag perattendance_attendances_path, method: :put do %>
      <% if coordinator_signed_in? || admin_signed_in? %>
        <ul class="list-group">
        <li class="list-group-item">
        <%= radio_button_tag "round", 1 , true %> Round 1</li>
        <li class="list-group-item">
        <%= radio_button_tag "round", 2 %> Round 2  </li>
        <li class="list-group-item">
        <%= radio_button_tag "round", 3 %> Round 3  </li>
        <li class="list-group-item">
        <%= radio_button_tag "round", 4 %> Round 4  </li>
        <li class="list-group-item">
        <%= radio_button_tag "round", 5 %> Round 5  </li>
        </ul>    
        Present : 
        <%= radio_button_tag "mark_present", "present" ,true %>
        Absent  :
        <%= radio_button_tag "mark_present", "absent" %><br><br>
        
        <%= hidden_field_tag "aid", @attendance.id %>
        <%= submit_tag "Mark Attendance" %><br><br>
      <% end %>
  </div>

<div class="col-md-8">
<div class="table-responsive"> 
<div class="alert alert-danger" role="alert">Refresh the page before updating values</div> 
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>PID</th>
      <th>Name</th>
      <th>Round</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% if ParticipantAttendance.where(team_id: @attendance.team.try(:id),event_id: @attendance.event.try(:id)).exists? %>
    <% @temp = ParticipantAttendance.where(team_id: @attendance.team.try(:id),event_id: @attendance.event.try(:id)) %>
    <% @temp.each do |p| %>
      <tr>
        <td><%= check_box_tag "p_ids[]", p.id %></td> 
        <td><%= p.id %></td>
        <td><%= p.participant.id %></td>
        <td><%= p.participant.name %></td>
        <td><%= p.round %></td>
        <td><%= p.status %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>
<% end %>
</div>

<div class="row">
  <div class="col-md-6"> 

    <%= link_to t('.back', :default => t("helpers.links.back")),
              attendances_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_attendance_path(@attendance), :class => 'btn btn-default' %>
    <% if admin_signed_in? %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              attendance_path(@attendance),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
    <% end %>
  </div>
</div>
